img{max-width:700px;width:100%;height:auto}
html{height:100%;width:100%}
body,html{min-height:100%}
main,button,input,select{font-family:hind,sans-serif;font-size:17px;letter-spacing:.5px}

@font-face {font-family:'hind';src: url('hind.woff2') format('woff2');font-display:swap}
@font-face {font-family:'hind';src: url('hind-bold.woff2') format('woff2');font-weight:700;font-display:swap}

@keyframes fadeIn{from{opacity:.001}to{opacity:1}}
main{opacity:.001;animation:fadeIn .2s cubic-bezier(.4,0,.22,1) 1 forwards;display:block;width:auto;max-width:700px;margin:auto;padding:15px;line-height:25px}

img,#flash-options,.accordion label{user-select:none}
::selection {background:rgba(200,200,200,.8);color:#000}
::selection:window-inactive {background:rgba(240,240,240,.8);color:#000}
.dark ::selection {background:rgba(60,60,60,.8);color:#fff;border-color:#fff}
.dark ::selection:window-inactive {background:rgba(120,120,120,.8);color:#fff}
.custom ::selection {background:rgba(0,0,0,.3);color:#fff;border-color:#fff}
.custom ::selection:window-inactive {background:rgba(120,120,120,.8);color:#fff}
.dark.custom ::selection {background:rgba(255,255,255,.3);color:#fff}
.dark.custom ::selection:window-inactive {background:rgba(70,70,70,.8);color:#fff}

@media (max-width:605px){.table{overflow-x:scroll}}
@media (min-width:606px){.sticky th{position:sticky;top:62px}}
a,u{text-decoration:none}
u,.underline{border-bottom:1px solid #000}
.underline{display:inline}
.dark u,.dark .underline{border-bottom-color:#fff}
.anchor,.anchor2{display:block;visibility:hidden;position:relative}
.anchor{top:-110px}
td div.anchor{top:-140px}
.anchor2{top:-70px}
p{margin:0}
.headline{font-size:28px;text-align:center;padding:10px 15px;font-weight:400;line-height:35px;margin-left:-15px;margin-right:-15px;margin-bottom:3px}
table{border-spacing:0;text-align:center;width:100%;margin:auto}
td,th{padding:11px;font-weight:400}
table tr{transition:background-color .2s cubic-bezier(.4,0,.22,1)}

nav button{cursor:pointer}
.headline button{margin-top:-10px}
.headline button,.sub button{cursor:default}
.headline button,.sub button,nav button,table button{background-color:rgba(0,0,0,0);background-repeat:no-repeat;border:0!important;outline:0!important;vertical-align:middle}
header{padding:1px;text-align:center;position:fixed;top:0;margin-left:-15px;margin-right:-15px;width:100%;max-width:728px;height:60px;z-index:11}
.open-menu{visibility:visible;opacity:1}
.close-menu{visibility:hidden;opacity:.001}
#nav-close{display:none;position:fixed;top:0;left:0;width:100%;height:100%;cursor:default}

nav:target{width:100%;display:block;visibility:visible;opacity:1;transition-delay:0s}
nav:target ~ header .close-menu{visibility:visible;opacity:1}
nav:target ~ header .open-menu{visibility:hidden;opacity:.001}
nav:target + #nav-close{display:block}

.nav-button{width:50px;height:30px;position:absolute;right:12px;top:8px;transition:background-color .2s cubic-bezier(.4,0,.22,1),opacity .2s cubic-bezier(.4,0,.22,1)}
.nav-button svg{position:relative;top:6px;left:6px}
.nav-button:after{position:absolute;content:'';left:0;top:-8px;width:62px;height:62px;transition:background-color .2s cubic-bezier(.4,0,.22,1)}
.nav-button:active:after,#title:active,#back:active:after{background:rgba(0,0,0,.2)}

#back{position:absolute;top:10px;left:8px;padding:3px 6px}
#back svg{position:relative;left:-4px;top:-1px}
#back:after{position:absolute;content:'';left:-8px;top:-10px;width:62px;height:62px;transition:background-color .2s cubic-bezier(.4,0,.22,1)}
#title{position:relative;top:-8px;padding:30px 12px 15.5px 22px}
#title,#back{transition:background-color .2s cubic-bezier(.4,0,.22,1)}
.text400,.text500{position:relative;top:-5px;display:none}
.text,.text401,.text501{position:relative;top:-5px;display:inline}
@media (max-width:400px){.text400{display:inline}.text401{display:none}}
@media (max-width:500px){.text500{display:inline}.text501{display:none}}
#thumb{height:50px;width:50px;position:relative;top:13px;right:9px;border-radius:50%;margin-right:3px}
nav{transition:visibility 0s .2s,opacity .2s cubic-bezier(.4,0,.22,1),background .2s cubic-bezier(.4,0,.22,1);position:fixed;top:0;margin-left:-15px;height:100%;width:100%;max-width:730px;visibility:hidden;overflow-y:auto;opacity:.001;z-index:10;background:rgba(50,50,100,.98)}
nav div:first-child{color:#fff;margin-top:75px;margin-bottom:5px}
nav a,nav div{transition:background-color .2s cubic-bezier(.4,0,.22,1);display:block;height:55px;line-height:55px;margin:0;text-align:center;font-size:18px}
nav a:hover,nav a.active{background:rgba(0,0,0,.35)}
nav a.active.nav-sub{background:rgba(0,0,0,.35)!important}
nav a.empty,nav a.nav-sub{background:rgba(0,0,0,0)!important}
nav a:last-child{margin-bottom:15px}
.empty,.nav-sub{cursor:default}
.bold,.empty,.nav-sub{font-weight:700}
header a{color:#fff}
nav a.nav-sub{color:rgb(150,150,250)}
#gform{text-align:center;position:relative;left:-18px}
#gform svg,.div-search svg{position:relative;top:12px;left:45px}

button{font-size:16px;line-height:23px;letter-spacing:.5px;outline:2px solid rgba(0,0,0,0);transition:background-color .2s cubic-bezier(.4,0,.22,1),outline .2s cubic-bezier(.4,0,.22,1)}
button:active,button:focus{outline:2px solid #31548d}
.search{display:inline;padding:10px 10px 10px 48px;max-width:165px;color:#fff;font-size:18px;background:rgba(0,0,0,.25);outline:0;border:2px solid rgba(0,0,0,0);transition:border-color .2s cubic-bezier(.4,0,.22,1), background .2s cubic-bezier(.4,0,.22,1);cursor:pointer;border-radius:25px}
.search:hover{background:rgba(0,0,0,.35)}
.search:focus{border-color:rgb(100,100,200);background:rgba(0,0,0,.35);cursor:text}

#js-search{display:inline-block;background:rgba(0,0,0,.1);color:#000}
.custom #js-search{background:rgba(50,50,50,.1);color:#000}
.dark #js-search{background:rgba(150,150,150,.1);color:#fff}
.dark.custom #js-search{background:rgba(255,255,255,.1);color:#fff}
#js-search::placeholder{color:#000}
.dark #js-search::placeholder{color:#fff}

#js-search:hover,#js-search:focus{background:rgba(0,0,0,.15)}
.custom #js-search:hover,.custom #js-search:focus{background:rgba(50,50,50,.15)}
.dark #js-search:hover,.dark #js-search:focus{background:rgba(150,150,150,.15)}
.dark.custom #js-search:hover,.dark.custom #js-search:focus{background:rgba(255,255,255,.15)}

.div-search{text-align:center;position:relative;left:-18px}
.div-search svg{position:relative;top:12px;left:45px}
.dark .div-search svg{fill:#fff}

input::placeholder{color:#fff;opacity:.8}

body{background:#fafafa;color:#000;margin:0}
.sub{background:rgba(0,0,0,.1);text-align:center;font-size:22px;line-height:35px;padding:7px 10px;margin-top:3px}
.custom .sub,.custom .big-box{background:rgba(50,50,50,.1)}
.headline,thead{color:#fff}
.headline,th{background:rgba(100,100,200,.98)}

a,p,img,button,input{-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-focus-ring-color:rgba(0,0,0,0)}
a{color:#000;outline:0}
.dark a,nav a{color:#fff}
.dark .headline,.dark th{background:rgba(75,75,175,.98)}
.dark .sub{background:rgba(150,150,150,.1);color:#eee}
.dark table{color:#111}
.dark.custom body{color:#fff}
.dark.custom .sub{background:rgba(255,255,255,.1)}

.blue,.blue th{background:rgba(100,100,200,.98)!important}
.dark .blue,.dark .blue th{background:rgba(75,75,175,.98)!important}
.red,.red th{background:rgba(188,53,70,.98)!important}
.dark .red,.dark .red th{background:rgba(158,33,50,.98)!important}
.ice,.ice th{background:rgba(30,135,200,.98)!important}
.dark .ice,.dark .ice th{background:rgba(10,115,180,.98)!important}
.purple,.purple th{background:rgba(115,80,200,.98)!important}
.dark .purple,.dark .purple th{background:rgba(100,65,185,.98)!important}
.green,.green th{background:rgb(63,145,104)!important}
.dark .green,.dark .green th{background:rgb(38,120,79)!important}

.big-box{padding:20px;background:rgba(0,0,0,.1)}
.dark .big-box{background:rgba(150,150,150,.1)}
.dark.custom .big-box{background:rgba(255,255,255,.1)}
.smaller-box{padding:10px 20px}

tbody tr:nth-child(odd){background:rgba(0,0,0,0)}
tbody tr:nth-child(even){background:rgba(25,25,25,.1)}
tbody tr:hover{background:rgba(50,50,50,.2)}
.dark tbody tr:nth-child(odd){background:rgba(0,0,0,0);color:#eee}
.dark tbody tr:nth-child(even){background:#191919;color:#eee}
.dark tbody tr:hover{background:#222}
.custom tbody tr:nth-child(odd){background:rgba(0,0,0,0)}
.custom tbody tr:nth-child(even){background:rgba(0,0,0,.1)}
.custom tbody tr:hover{background:rgba(50,50,50,.2)}
.dark.custom tbody tr:nth-child(odd){background:rgba(0,0,0,0)}
.dark.custom tbody tr:nth-child(even){background:rgba(200,200,200,.1)}
.dark.custom tbody tr:hover{background:rgba(200,200,200,.2)}

.mini-news{margin-top:5px;margin-left:15px}
.sub-text{color:#fff;background:rgb(100,100,200);width:35px;margin:auto;padding:10px 5px;font-size:21px;text-align:center}
.dark .sub-text{background:rgb(75,75,175)}
svg#thumb{fill:#fff;border-radius:0}
.br5#thumb{border-radius:5px}
.res{position:relative;margin:-57px 20px 17px auto;text-align:center;padding:5px 10px;font-size:19px;display:block;transition:color .2s cubic-bezier(.4,0,.22,1),border-color .2s cubic-bezier(.4,0,.22,1),background .2s cubic-bezier(.4,0,.22,1);width:125px;background:rgba(0,0,0,.7);color:#fff;border:2px solid #fff;-webkit-backdrop-filter:blur(5px);backdrop-filter:blur(5px)}
a:hover .res{color:#000;background:rgba(255,255,255,.8);border-color:#000}
.screenshots .res{margin-top:-87px}
.cross .res{margin-top:-117px}
a .res{border-radius:20px}
.yt .res{width:150px}

.pixelated,.div-pixelated img,.table-mm img,.table-mm2 img{image-rendering:crisp-edges;image-rendering:pixelated}
p.img-x2 img{max-width:340px}
p.img-x2 > img:nth-child(2),p.img-x2 picture:nth-child(2) > img{margin-left:20px}
@media (max-width:750px) {
p.img-x2 > img,p.img-x2 picture > img{margin:auto}
p.img-x2 > img:nth-child(2),p.img-x2 picture:nth-child(2) > img{margin:20px 0 0 0}}

.center,.src,.dl-link,.img-x2{text-align:center}
.line-through{text-decoration:line-through}

.dl-link{margin-top:5px}
.dl-link img{max-width:26px;margin-left:5px;position:relative;top:8px;opacity:.9}
.dark .dl-link img{filter:invert(1)}
.dl-link.dl-img{margin-top:-2px}

.src,.sub3{font-size:18px}
.sub2,.indent,.faq,.c1 u{font-size:19px}
sup{font-size:12px}
.indent,.indent2{margin-left:10px}
.li-inv{list-style:none}
.auto{margin:auto}
.inline-block{display:inline-block}
.table2 td{width:50%}
.table3 td{width:33%}
.table4 td{width:25%}
.width125m{min-width:125px}
.width150m{min-width:150px}
.width175m{min-width:175px}
.width200m{min-width:200px}
.width225m{min-width:225px}
.width250m{min-width:250px}
.width256m{min-width:256px}
.width300m{min-width:300px}
.width25{max-width:25px}
.width30{max-width:30px}
.width35{max-width:35px}
.width40{max-width:40px}
.width45{max-width:45px}
.width50{max-width:50px}
.width75{max-width:75px}
.width100{max-width:100px}
.width200{max-width:200px}
.width225{max-width:225px}
.width235{max-width:235px}
.width250{max-width:250px}
.width256{max-width:256px}
.width275{max-width:275px}
.width300{max-width:300px}
.width325{max-width:325px}
.width350{max-width:350px}
.width360{max-width:360px}
.width400{max-width:400px}
.width450{max-width:450px}
.width500{max-width:500px}
.width525{max-width:525px}
.width600{max-width:600px}

.tp-gallery{margin-top:-15px;margin-bottom:5px}
.gallery.tp-gallery figure{display:none}
.gallery.tp-gallery figure:first-child{display:block}
.download p a{font-weight:700}
.download img{max-width:480px}
.download p.center img{margin-bottom:10px}
.download .img-x2{margin-bottom:20px}
.table-mm td img{padding-top:5px;min-width:48px;max-width:60px}
.table-mm2 td img{padding-top:5px;width:96px;height:80px}
.table-mm3 th{z-index:5}
.table-mm3 td,.left{text-align:left}
.table-mm3 td img{padding-top:5px;min-width:60px;max-width:80px}
#thumb.move-t10,.move-t10{position:relative;top:10px}
#thumb.move-t13,.move-t13{position:relative;top:13px}
#thumb.move-t15,.move-t15{position:relative;top:15px}
#thumb.mr-0,.mr-0{margin-right:0}
#thumb.mr--3,.mr--3{margin-right:-3px}
#thumb.mr--5,.mr--5{margin-right:-5px}
.mr-10{margin-right:10px}
.mt-0{margin-top:0}
.mt-5{margin-top:5px}
.mt-10{margin-top:10px}
.mt-15{margin-top:15px}
.mt-20{margin-top:20px}
.mt-25{margin-top:25px}
.mt-30{margin-top:30px}
.mt-35{margin-top:35px}
.mb-0{margin-bottom:0}
.mb-5{margin-bottom:5px}
.mb-10{margin-bottom:10px}
.mb-15{margin-bottom:15px}
.mb-20{margin-bottom:20px}
.mt--5{margin-top:-5px}
.mt--15{margin-top:-15px}
.mb--10{margin-bottom:-10px}
.ml--20{margin-left:-20px}
.pl-5{padding-left:5px}
.pl-15{padding-left:15px}
.pl-20{padding-left:20px}
.pt-20{padding-top:20px}
.pt-60{padding-top:60px}
.radius0{border-radius:0!important}
.radius15{border-radius:15px}
.ul-box{display:inline-block;padding-top:40px}
.dl-svg{position:relative;top:10px;margin-right:6px;fill:#000}
.dark .dl-svg{fill:#eee}
.dl-svg-wrapper{position:relative;top:-5px;left:-1px}
.div-search svg,nav svg{pointer-events:none}

.div-color i,.div-red i,.div-blue i,i.coin,i.s{font-style:normal}
.div-color i,.div-blue i{color:rgb(90,90,190)}
.dark .div-color i,.dark .div-blue i{color:rgb(150,150,250)}
.div-red i{color:#e00b27}
.dark .div-red i{color:#e34358}
i.coin{color:#2a9cc1}
.dark i.coin{color:#80d5ff}
i.s{color:#7a27d1}
.dark i.s{color:#b596d6}



.dlbutton a{transition:background-color .2s cubic-bezier(.4,0,.22,1),border-color .2s cubic-bezier(.4,0,.22,1);border:2px solid #222;text-decoration:none;padding:7px;background:rgba(0,0,0,0)}
.dark .dlbutton a{border-color:#ddd}
.dlbutton a:hover{background:rgba(0,0,0,.1);border-color:rgba(0,0,0,0)!important;color:#000!important}
.dark .dlbutton a:hover{background:rgba(150,150,150,.1);border-color:rgba(0,0,0,0);color:#fff!important}
.custom .dlbutton a:hover{background:rgba(50,50,50,.1);border-color:rgba(0,0,0,0)}
.dark.custom .dlbutton a:hover{background:rgba(255,255,255,.1);border-color:rgba(0,0,0,0)}

[type=checkbox]{position:relative;width:1.2rem;height:1.2rem;margin-right:.75rem;cursor:pointer;-moz-appearance:none;-webkit-appearance:none;appearance:none;outline:0}
[type=checkbox]:before{content:'';position:absolute;left:2px;top:3px;z-index:1;width:100%;height:100%;border:2px solid #444;transition:border-color .2s cubic-bezier(.4,0,.22,1),transform .2s cubic-bezier(.4,0,.22,1)}
.dark [type=checkbox]:before{border-color:#ccc}
[type=checkbox]:checked:before{height:50%;transform:rotate(-45deg);border-top-style:none;border-right-style:none;position:absolute;left:2px;top:5px}
table [type=checkbox]:before{position:absolute;left:0;top:3px}
table [type=checkbox]:checked:before{position:absolute;left:0;top:5px}
[type=checkbox]:hover:before,[type=checkbox]:checked:before{border-color:rgb(125,125,225)}

.en :lang(de),.de :lang(en),#background_input,.invisible{display:none}
svg.invisible{width:0;height:0;display:block}

header,.dropdown{background:rgba(100,100,200,.98)}
.dark header,.dark .dropdown{background:rgba(75,75,175,.98)}

ul li,ol li{line-height:25px;margin-top:8px;margin-bottom:8px}
.red-text{color:#e00b27}
.dark .red-text{color:#ff495a}
.blue-text{color:#4980d1}
.dark .blue-text{color:#4778f0}
.green-text{color:#59b759}
.dark .green-text{color:#01c601}
.purple-text{color:#7a27d1}
.dark .purple-text{color:#b596d6}
.ice-text{color:#2a9cc1}
.dark .ice-text{color:#80d5ff}
.yellow-text{color:#baba1f}
.dark .yellow-text{color:#e5e500}

.nav-red-text{color:#f94b62!important}
.nav-blue-text{color:rgb(150,150,250)!important}
.nav-ice-text{color:#80d5ff!important}
.nav-purple-text{color:#b596d6!important}

.accordion label{position:relative;left:-15px;text-align:center;font-size:17px;padding:9px;transition:background-color .2s cubic-bezier(.4,0,.22,1),border-color .2s cubic-bezier(.4,0,.22,1);border:2px solid #222}
.dark .accordion label{border-color:#eee}
.accordion label:hover{background:rgba(0,0,0,.1);border-color:rgba(0,0,0,0)}
.dark .accordion label:hover{background:rgba(150,150,150,.1)}
.custom .accordion label:hover{background:rgba(100,100,100,.1)}
.dark.custom .accordion label:hover{background:rgba(255,255,255,.1)}
.inner{background:rgba(0,0,0,.1);opacity:.001;height:0;overflow:hidden}
.dark .inner{background:rgba(150,150,150,.1)}
.custom .inner{background:rgba(50,50,50,.1)}
.dark.custom .inner{background:rgba(255,255,255,.1)}
.accordion label:hover,input:hover{cursor:pointer}
.accordion input,.accordion .inner,.hidden{visibility:hidden}
.accordion input:checked ~ .inner{visibility:visible;opacity:1;height:auto;padding:20px 10px;margin-top:30px}

footer button{background:rgba(200,200,200,.5);border:0;outline:0!important;padding:5px 10px;cursor:pointer;transition:background-color .2s cubic-bezier(.4,0,.22,1);z-index:4;pointer-events:auto}
footer button svg{position:relative;top:3px}
#fancy,#moon,#palettes,#filter,#reset,#language{transition:visibility 0s .2s,opacity .2s cubic-bezier(.4,0,.22,1),background .2s cubic-bezier(.4,0,.22,1);visibility:hidden;opacity:.001;position:absolute}
#fancy,#moon,#palettes,#filter,#reset{right:15px}
#language{left:15px}
footer button:hover{background:rgba(190,190,190,.8)}
#moon svg g path, #fancy svg path,#palettes svg path:nth-child(2),#palettes svg circle,#settings svg,#filter svg,#language svg,#reset svg{fill:#000}
.dark footer button{background:rgba(50,50,50,.5)}
.dark footer button:hover{background:rgba(70,70,70,.8)}
.dark #moon svg g path,.dark #fancy svg path,.dark #palettes svg path:nth-child(2),.dark #palettes svg circle,.dark #settings svg,.dark #filter svg,.dark #language svg,.dark #reset svg{fill:#fff}
.custom footer button{background:rgba(175,175,175,.5)}
.custom footer button:hover{background:rgba(160,160,160,.8)}
.dark.custom footer button{background:rgba(75,75,75,.5)}
.dark.custom footer button:hover{background:rgba(80,80,80,.8)}

footer{position:fixed;bottom:0;width:100%;max-width:730px;margin-left:-15px;height:56px;z-index:9;pointer-events:none}
#settings{position:absolute;bottom:15px;left:15px;display:none}
#moon{bottom:15px}
#palettes,#language{bottom:75px}
#reset{bottom:135px}
#fancy{bottom:195px}
#filter{bottom:255px}
@media (min-width:906px){#moon,#palettes,#fancy,#filter,#reset{margin-right:-75px}#settings,#language{margin-left:-75px}}

.heading{display:inline;border-bottom:2px solid #000;font-size:22px;line-height:35px;padding:5px}
.dark .heading{border-bottom-color:#fff}
footer button,#notification,.res,.dlbutton a,.accordion label{border-radius:3px}
.table-sub{font-size:21px;color:rgb(100,100,200);padding-bottom:20px}
.dark .table-sub{color:rgb(125,125,225)}
li a,.link a,p a{transition:color .2s cubic-bezier(.4,0,.22,1),border-color .2s cubic-bezier(.4,0,.22,1);border-bottom:1px solid #000}
.dark li a,.dark .link a,.dark p a{border-bottom-color:#fff}
li a:hover,.link a:hover,p a:hover{color:rgb(100,100,200);border-bottom-color:rgb(100,100,200)}
.dark li a:hover,.dark .link a:hover,.dark p a:hover{color:rgb(125,125,225);border-bottom-color:rgb(125,125,225)}
td a,.youtube a{border:0!important}

.tabbed{overflow:hidden}
.tabbed [type=radio],.tab-content{display:none}
.tabs{list-style-type:none;text-align:center;margin:-5px auto 20px auto;padding:0}
.tab{display:inline-block;padding:3px;-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-focus-ring-color:rgba(0,0,0,0)}
.tab > label{cursor:pointer;line-height:40px;padding:11px 13px 9px 13px;border:0;transition:background-color .2s cubic-bezier(.4,0,.22,1),color .2s cubic-bezier(.4,0,.22,1);border-radius:5px;color:#666}
.dark .tab > label{color:#aaa}
.tab:hover label{background-color:rgb(225,225,225)}
.dark .tab:hover label{background-color:rgb(35,35,35)}
.tab img{max-width:30px;padding-bottom:5px}

.tabbed [type=radio]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type=radio]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type=radio]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label{background-color:rgb(225,225,225);color:#000}

.dark .tabbed [type=radio]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.dark .tabbed [type=radio]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.dark .tabbed [type=radio]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label{background-color:rgb(35,35,35);color:#eee}

.custom .tab:hover label,
.custom .tabbed [type=radio]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.custom .tabbed [type=radio]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.custom .tabbed [type=radio]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label{background-color:rgba(200,200,200,.7)}

.dark.custom .tab:hover label,
.dark.custom .tabbed [type=radio]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.dark.custom .tabbed [type=radio]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.dark.custom .tabbed [type=radio]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label{background-color:rgba(35,35,35,.7)}

.tabbed [type=radio]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type=radio]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type=radio]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3){display:block}

.picture:after{content:'';display:block;height:0;width:100%;padding-bottom:56.25%}
.picture > p{position:absolute;top:0;left:0;width:100%;height:100%}
.picture{background:rgba(0,0,0,.1);position:relative;margin:3px auto}
.dark .picture{background:rgba(150,150,150,.1)}
.custom .picture{background:rgba(0,0,0,.1)}
.dark.custom .picture{background:rgba(255,255,255,.1)}

.accordion label svg{fill:#000;transition:transform .2s cubic-bezier(.4,0,.22,1);position:relative;top:9px;margin-right:-5px}
.dark .accordion label svg{fill:#fff}
.accordion input:checked + a label svg{transform:scaleY(-1)}

.overview td,.overview th{padding:0 11px}
.overview tbody tr{background:none!important}
.overview tbody tr:hover{background:rgba(0,0,0,.1)!important}
.dark .overview tbody tr:hover{background:rgba(125,125,125,.1)!important}
.custom .overview tbody tr:hover{background:rgba(50,50,50,.1)!important}
.dark.custom .overview tbody tr:hover{background:rgba(255,255,255,.1)!important}
.overview td:nth-child(2){text-align:left}
.overview td:first-child{width:10%}
.overview td a{display:block;color:#000;padding:35px 0;position:relative;left:-10px;outline:0}
.overview td a:active{-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-focus-ring-color:rgba(0,0,0,0)}
.overview a span:lang(de),.overview a span:lang(en){color:#000}
.dark .overview td a,.dark .overview a span:lang(de),.dark .overview a span:lang(en){color:#fff}
#search-table a span:lang(de),#search-table a span:lang(en){color:grey}
.overview p{height:50px;width:50px}
.overview td p a{position:relative;left:-10px;padding:40px}
.overview p svg{fill:#111}
.dark .overview p svg{fill:#eee}
.overview a span,.greyed span{color:grey}
.overview .table-sub{width:initial;height:initial}
.svg-table p a{position:relative;left:-10px;top:-75px}
.svg-table p{height:48px;width:48px}
.svg-table .table-sub{padding-top:20px;padding-bottom:20px}
.overview td:first-child p{margin-right:5px}
.svg-table td:first-child p{margin-right:0}
.overview img{border-radius:50%}
table .picture{background:none!important;margin-bottom:58px;margin-right:55px}
.overview .picture a{position:relative;left:-10px;top:-100px;padding:65px}
table .picture:after{padding-bottom:100%}
.bg0,.overview tbody tr.bg0:hover,.custom .overview tbody tr.bg0:hover{background:none!important}
.pd0{padding:0!important}
.tools img{max-width:46px;border-radius:0}

#language span{color:#000}
.dark #language span{color:#fff}
a[download] img,.youtube img,figure img,.screenshots img,.yt img{transition:opacity .2s cubic-bezier(.4,0,.22,1)}
a[download] img:hover,.youtube:hover img,figure img:hover,.screenshots img:hover,.yt img:hover{opacity:.75}

b.m i{display:none}

@media (min-width:906px){
html{scrollbar-color:#bbb #fafafa}
.dark{scrollbar-color:#777 #0f0f0f}

::-webkit-scrollbar{width:16px}
::-webkit-scrollbar-track{background-color:#fafafa}
::-webkit-scrollbar-thumb{background-color:#bbb}
::-webkit-scrollbar-thumb:hover{background-color:#999}
.dark ::-webkit-scrollbar-track{background-color:#0f0f0f}
.dark ::-webkit-scrollbar-thumb{background-color:#777}
.dark ::-webkit-scrollbar-thumb:hover{background-color:#555}

#main-nav{scrollbar-color:rgb(90,90,190) rgb(50,50,100)}
#main-nav::-webkit-scrollbar-track{background-color:rgb(30,30,80)}
#main-nav::-webkit-scrollbar-thumb{background-color:rgb(90,90,190)}
#main-nav::-webkit-scrollbar-thumb:hover{background-color:rgb(110,110,210)}

.palette-red #main-nav{scrollbar-color:rgb(124,60,66) rgb(84,20,26)}
.palette-red #main-nav::-webkit-scrollbar-track{background-color:rgb(64,0,6)}
.palette-red #main-nav::-webkit-scrollbar-thumb{background-color:rgb(124,60,66)}
.palette-red #main-nav::-webkit-scrollbar-thumb:hover{background-color:rgb(144,80,86)}

.palette-green #main-nav{scrollbar-color:rgb(40,110,80) rgb(0,70,40)}
.palette-green #main-nav::-webkit-scrollbar-track{background-color:rgb(0,50,20)}
.palette-green #main-nav::-webkit-scrollbar-thumb{background-color:rgb(40,110,80)}
.palette-green #main-nav::-webkit-scrollbar-thumb:hover{background-color:rgb(60,130,100)}

.palette-purple #main-nav{scrollbar-color:rgb(100,85,175) rgb(60,45,135)}
.palette-purple #main-nav::-webkit-scrollbar-track{background-color:rgb(40,25,115)}
.palette-purple #main-nav::-webkit-scrollbar-thumb{background-color:rgb(100,85,175)}
.palette-purple #main-nav::-webkit-scrollbar-thumb:hover{background-color:rgb(120,105,195)}

.palette-ice #main-nav{scrollbar-color:rgb(50,100,170) rgb(10,60,130)}
.palette-ice #main-nav::-webkit-scrollbar-track{background-color:rgb(0,40,110)}
.palette-ice #main-nav::-webkit-scrollbar-thumb{background-color:rgb(50,100,170)}
.palette-ice #main-nav::-webkit-scrollbar-thumb:hover{background-color:rgb(70,120,190)}

.palette-ocean #main-nav{scrollbar-color:rgb(65,85,175) rgb(25,45,135)}
.palette-ocean #main-nav::-webkit-scrollbar-track{background-color:rgb(5,25,115)}
.palette-ocean #main-nav::-webkit-scrollbar-thumb{background-color:rgb(65,85,175)}
.palette-ocean #main-nav::-webkit-scrollbar-thumb:hover{background-color:rgb(85,105,195)}
}

#background{z-index:-2;background-size:cover;background-repeat:no-repeat;background-position:center center;background-attachment:fixed;transform:translate3d(0,0,0)}
#overlay{z-index:-1}
#background,#overlay{position:fixed;left:0;top:0;display:none;width:100%;height:100%}
body,#overlay,.headline,th,.sub,.big-box,.inner,header,.sub-text{transition:background-color .2s cubic-bezier(.4,0,.22,1)}
.custom body{transition:none}
.footer #moon,.footer #palettes,.footer #fancy,.footer #filter,.footer #language,.footer #reset{visibility:visible;opacity:1;transition-delay:0s}
.dark body{background:#0f0f0f;color:#eee}
.custom #overlay{background:rgba(255,255,255,.85)}
.dark.custom #overlay{background:rgba(0,0,0,.85)}

.palette-red .headline,.palette-red header,.palette-red table th,.palette-red .dropdown,.palette-red .sub-text{background:rgba(188,53,70,.98)}.dark.palette-red .headline,.dark.palette-red header,.dark.palette-red table th,.dark.palette-red .dropdown,.dark.palette-red .sub-text{background:rgba(158,33,50,.98)}.palette-red nav{background:rgba(84,20,26,.98)}.palette-red nav .nav-sub{color:rgb(224,100,106)}.palette-red .search:focus{border:2px solid rgb(200,50,50)}.palette-red .table-sub{color:rgb(224,51,79)}.dark.palette-red .table-sub{color:rgb(255,73,90)}.palette-red li a:hover,.palette-red .link a:hover,.palette-red p a:hover{color:#e00b27;border-bottom-color:#e00b27}.dark.palette-red li a:hover,.dark.palette-red .link a:hover,.dark.palette-red p a:hover{color:#ff495a;border-bottom-color:#ff495a}.palette-red [type=checkbox]:hover:before,.palette-red [type=checkbox]:checked:before{border-color:rgb(225,78,90)}.palette-red .div-color i{color:#e00b27}.dark.palette-red .div-color i{color:#e34358}

.palette-green .headline,.palette-green header,.palette-green table th,.palette-green .dropdown,.palette-green .sub-text{background:rgba(45,135,85,.98)}.dark.palette-green .headline,.dark.palette-green header,.dark.palette-green table th,.dark.palette-green .dropdown,.dark.palette-green .sub-text{background:rgba(30,115,70,.98)}.palette-green nav{background:rgba(0,70,40,.98)}.palette-green nav .nav-sub{color:rgb(108,255,164)}.palette-green .search:focus{border:2px solid rgb(30,195,105)}.palette-green .table-sub{color:rgb(38,185,94)}.dark.palette-green .table-sub{color:rgb(58,205,114)}.palette-green li a:hover,.palette-green .link a:hover,.palette-green p a:hover{color:rgb(38,185,94);border-bottom-color:rgb(38,185,94)}.dark.palette-green li a:hover,.dark.palette-green .link a:hover,.dark.palette-green p a:hover{color:rgb(58,205,114);border-bottom-color:rgb(58,205,114)}.palette-green [type=checkbox]:hover:before,.palette-green [type=checkbox]:checked:before{border-color:rgb(63,170,104)}.palette-green .div-color i{color:rgb(38,185,94)}.dark.palette-green .div-color i{color:rgb(58,205,114)}

.palette-purple .headline,.palette-purple header,.palette-purple table th,.palette-purple .dropdown,.palette-purple .sub-text{background:rgba(115,80,200,.98)}.dark.palette-purple .headline,.dark.palette-purple header,.dark.palette-purple table th,.dark.palette-purple .dropdown,.dark.palette-purple .sub-text{background:rgba(100,65,195,.98)}.palette-purple nav{background:rgba(60,45,135,.98)}.palette-purple nav .nav-sub{color:#bea0dc}.palette-purple .search:focus{border:2px solid rgb(125,125,255)}.palette-purple .table-sub{color:#7a27d1}.dark.palette-purple .table-sub{color:#b596d6}.palette-purple li a:hover,.palette-purple .link a:hover,.palette-purple p a:hover{color:#7a27d1;border-bottom-color:#7a27d1}.dark.palette-purple li a:hover,.dark.palette-purple .link a:hover,.dark.palette-purple p a:hover{color:#b596d6;border-bottom-color:#b596d6}.palette-purple [type=checkbox]:hover:before,.palette-purple [type=checkbox]:checked:before{border-color:rgb(180,130,230)}.palette-purple .div-color i{color:#7a27d1}.dark.palette-purple .div-color i{color:#b596d6}

.palette-ice .headline,.palette-ice header,.palette-ice table th,.palette-ice .dropdown,.palette-ice .sub-text{background:rgba(30,135,200,.98)}.dark.palette-ice .headline,.dark.palette-ice header,.dark.palette-ice table th,.dark.palette-ice .dropdown,.dark.palette-ice .sub-text{background:rgba(10,115,180,.98)}.palette-ice nav{background:rgba(10,60,130,.98)}.palette-ice nav .nav-sub{color:#80d5ff}.palette-ice .search:focus{border:2px solid rgb(80,130,220)}.palette-ice .table-sub{color:#2a9cc1}.dark.palette-ice .table-sub{color:#80d5ff}.palette-ice li a:hover,.palette-ice .link a:hover,.palette-ice p a:hover{color:#2a9cc1;border-bottom-color:#2a9cc1}.dark.palette-ice li a:hover,.dark.palette-ice .link a:hover,.dark.palette-ice p a:hover{color:#80d5ff;border-bottom-color:#80d5ff}.palette-ice [type=checkbox]:hover:before,.palette-ice [type=checkbox]:checked:before{border-color:#2196f3}.palette-ice .div-color i{color:#2a9cc1}.dark.palette-ice .div-color i{color:#80d5ff}

.palette-ocean .headline,.palette-ocean header,.palette-ocean table th,.palette-ocean .dropdown,.palette-ocean .sub-text{background:rgba(65,105,225,.98)}.dark.palette-ocean .headline,.dark.palette-ocean header,.dark.palette-ocean table th,.dark.palette-ocean .dropdown,.dark.palette-ocean .sub-text{background:rgba(45,85,205,.98)}.palette-ocean nav{background:rgba(25,45,135,.98)}.palette-ocean nav .nav-sub{color:#80a0ff}.palette-ocean .search:focus{border:2px solid rgb(80,120,255)}.palette-ocean .table-sub{color:#2a6bc1}.dark.palette-ocean .table-sub{color:#80a0ff}.palette-ocean li a:hover,.palette-ocean .link a:hover,.palette-ocean p a:hover{color:#2a6bc1;border-bottom-color:#2a6bc1}.dark.palette-ocean li a:hover,.dark.palette-ocean .link a:hover,.dark.palette-ocean p a:hover{color:#80a0ff;border-bottom-color:#80a0ff}.palette-ocean [type=checkbox]:hover:before,.palette-ocean [type=checkbox]:checked:before{border-color:#217dff}.palette-ocean .div-color i{color:#2a6bc1}.dark.palette-ocean .div-color i{color:#80a0ff}
